{% extends 'base.html.twig' %}

{% block title %}
    Formulaire de contact
{% endblock %}

{% block body %}
    <div class="container">
    {{form_start(form)}}

        <div><h1 class="text-center">Formulaire de contact</h1></div>

         <div class="clear"></div><br>

        <div class="row">
            <div class="col-md-6">
                {{ form_label(form.firstName, "Prénom") }}
                {{ form_widget(form.firstName, {"attr": {"class": "form-control"}}) }}
                {{ form_errors(form.firstName) }}
            </div>
            <div class="col-md-6">
                {{ form_label(form.lastName, "Nom") }}
                {{ form_widget(form.lastName, {"attr": {"class": "form-control"}}) }}
                {{ form_errors(form.lastName) }}
            </div>
            <div class="clear"></div><br>
            <div class="col-md-6">
                {{ form_label(form.title, "Titre") }}
                {{ form_widget(form.title, {"attr": {"class": "form-control"}}) }}
                {{ form_errors(form.title) }}
            </div>
            <div class="col-md-6">
                {{ form_label(form.mail, "E-mail") }}
                {{ form_widget(form.mail, {"attr": {"class": "form-control"}}) }}
                {{ form_errors(form.mail) }}
            </div>
            <div class="clear"></div><br>
            <div class="col-md-12">
                {{ form_label(form.content, "Contenu") }}
                {{ form_widget(form.content, {"attr": {"class": "form-control"}}) }}
                {{ form_errors(form.content) }}
            </div>  

            <div class="clear"></div><br>

            <div class="col-md-6 pull-right">
                {{ form_widget(form.send,  {"attr": {"class": "btn btn-info"}}) }}
            </div>

            <div class="col-md-6">
                {{ form_widget(form.recaptcha) }}
            </div>
        </div>


    {{form_end(form)}}
    </div>

    
    
{% endblock %}

{% block javascripts %}
    
{% endblock %}
