{% extends '::admin.html.twig' %}

{% block title %}
    Panel d'administration
{% endblock %}

{% block subtitle %}
    Dashboard
{% endblock %}

{% block body %}
    <section class="panel">
        <header class="panel-heading">
            Ajout de media
        </header>
        <div class="panel-body">
            <div>
                 <h1>Zone d'ajout de photo</h1>
                {{form_start(form)}}
                <div class="row">

                    <div class="col-md-9">

                        <div action="{{path('article_medias_upload')}}" id="dropfile" class="dz-progress dropzone">
                         <div class="progress-bar-loading"></div>
                        </div>

                    </div>
                    <div class="action">
                    <br>
                        <a href="{{path("admin_viewmedias")}}" id="valid" class="btn btn-success">Valider</a>
                        <a href="{{path("admin_viewmedias")}}" class="btn btn-success">Retour</a>
                    </div>

                {{form_end(form, {'render_rest': false})}}
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script>

        var progressBar = "progress-bar-loading";
        // Describe drop zone with id's div
        Dropzone.autoDiscover = false;
         var uploadZone = new Dropzone("#dropfile", {
            autoDiscover : false,
            uploadMultiple : false,
            acceptedFiles: "image/jpeg,image/png,image/gif",
            dictDefaultMessage : 'Cliquez/déposez une image depuis votre ordinateur ',
            maxFilesize: 10,


            success: function(file, response){
                //console.log(response);
                //console.log(file);
                $('.' + progressBar).show();
            },
            uploadprogress: function(file, progress, bytesSent) {
                //console.log(progress);
                //console.log(bytesSent);
                $('.' + progressBar).show();
                $('.' + progressBar).css('width',progress/2+'%');
            }
        });

    </script>
    <script>
        $('#valid').click(function(){
          uploadZone.processQueue();
        });

    </script>

{% endblock %}
