{% extends '::admin.html.twig' %}

{% block title %}
	Panel d'administration
{% endblock %}
{% block subtitle %}
	Dashboard
{% endblock %}
{% block body %}

	<h2>media</h2>
	<table class="table table-hover table-stripped">
		<thead>
			<tr>
				<th>id</th>
				<th>Date de création</th>
				<th>Date de modification</th>				
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{media.id}}</td>
				<td>{{media.createdAt|date('d-m-Y H:i')}}</td>
				<td>{{media.updatedAt|date('d-m-Y H:i')}}</td>				
			</tr>
		</tbody>
	</table>
		<img src="{{asset('uploads/medias/'~media.name) }}" width="500" height="250" />
		<a href="{{path("admin_viewmedias")}}" class="btn btn-success">Retour</a>	
			  


{% endblock %}
{% block javascripts %}
	
{% endblock %}
