{% extends '::admin.html.twig' %}


{% block title %}
    Panel d'administration
{% endblock %}

{% block subtitle %}
    Dashboard
{% endblock %}

{% block body %}
<h1>Création</h1>

	<div class="action">
		<a href="{{path("admin_addcreation")}}" class="btn btn-success">Ajouter</a>
	</div>

	<div class="navigation">
    	{{ knp_pagination_render(pagination) }}
	</div>

	<table class="table table-hover table-stripped">
		<thead>
			<tr>
				<th>id</th>
				<th>Nombre de commentaires</th>
				<th>Affiché ok = 1</th>
				<th>Catégorie</th>
				<th>Nom</th>
				<th>Contenu</th>
				<th>Miniature</th>
			</tr>
		</thead>
		<tbody class="datas">
			{% for creation in pagination %}
			    <tr>
			    	<td class="creationid">{{creation.id}}</td>
			    	<td>{{creation.comments|length}}</td>
			    	<td>{{creation.display}}</td>
			    	<td>{{creation.category.name}}</td>
			    	<td>{{creation.name}}</td>
            <td>{{creation.content| truncate(25, true, '...')}}</td>
          	<td><img src="{{asset('uploads/medias/'~creation.media.name) }}" width="100" height="50" /></td>
			  	 	<td>
			    		<a href="{{path("admin_viewcreation", {"id": creation.id})}}" class="btn btn-info">Voir</a>
			    		{% if creation.display %}
		    				<a href="{{path("admin_displaycreation", {"id": creation.id})}}" class="btn btn-danger">Display off</a>
						{% else %}
		    				<a href="{{path("admin_displaycreation", {"id": creation.id})}}" class="btn btn-primary">Display on</a>
		    			{% endif %}
			    		<a href="{{path("admin_editcreation", {"id": creation.id})}}" class="btn btn-warning">Modifier</a>
			    		<a href="{{path("admin_deletecreation", {"id": creation.id})}}" class="btn btn-warning delete">Supprimer</a>
			    	</td>
			    </tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="navigation">
    	{{ knp_pagination_render(pagination) }}
	</div>

	<div class="action">
		<a href="{{path("admin_addcreation")}}" class="btn btn-success">Ajouter</a>
	</div>

{% endblock %}

{% block javascripts %}
    <script>


    	$("body").on("click", ".delete", function(){
    		var path = $(this).attr("href");
    		var id = $(this).parent().parent().find('.creationid').text();
    		console.log("id : ");
    		console.log("id" + id);

    		Routing.generate("admin_deletecreation", {id: id});

			swal({
			  title: "Are you sure?",
			  text: "You will not be able to recover this deal!",
			  type: "warning",
			  showCancelButton: true,
			  confirmButtonColor: "#DD6B55",
			  confirmButtonText: "Yes, delete it!",
			  cancelButtonText: "No, cancel plx!",
			  closeOnConfirm: false,
			  closeOnCancel: false
			},
			function(isConfirm){
			  if (isConfirm) {
			  	$.ajax({
			  		type: 'GET',
			  		url: path,
			  		data: {id: id},
			  		success: function(data) {
						swal("Deleted!", "The creation has been deleted.", "success");
						window.location.reload();
			  		}
			  	});
			  } else {
			    swal("Cancelled", "The creation is safe :)", "error");
			  }
			});
			return false;
		});



    </script>
{% endblock %}
