{% extends '::admin.html.twig' %}

{% block title %}
    Panel d'administration
{% endblock %}

{% block subtitle %}
    Dashboard
{% endblock %}

{% block body %}
    <section class="panel">
        <header class="panel-heading">
            Ajout de création
        </header>
        <div class="panel-body">
            <div>
                 <h1>Formulaire d'ajout de création</h1>
                {{form_start(form)}}
                <div class="row">
                    <div class="col-md-3">
                        {{ form_label(form.category, "Catégorie")}}
                        {{ form_widget(form.category, {"attr": {"class": "form-control"}}) }}
                        {{ form_errors(form.category) }}
                    </div>
                    <div class="col-md-6 {% if not form.name.vars.valid %}has-error{% endif %}">
                        {{ form_label(form.name, "Nom")}}
                        {{ form_widget(form.name, {"attr": {"class": "form-control"}}) }}
                        {{ form_errors(form.name) }}
                    </div>

                    <div class="col-md-12 {% if not form.content.vars.valid %}has-error{% endif %}">
                        {{ form_label(form.content, "Contenu") }}
                        {{ form_widget(form.content, {"attr": {"class": "form-control" }}) }}
                        {{ form_errors(form.content) }}
                    </div>

                    <div class="col-md-6">
                        {{ form_label(form.media, "Photo")}}
                        {{ form_widget(form.media, {"attr": {"class": "form-control","onchange": "afficherImage()"}}) }}

                    </div>

                    <div class="col-md-6">
                        <br>
                        <br>
                        <img id="monImage" class="pull-right" src="{{asset('uploads/medias/kumihimo-coton-cire-vert-beige-bouton.jpg')}}" width="250" height="150"/>
                    </div>

                  </div>
                    <div class="col-md-6">
                        <br>
                        {{ form_widget(form.valid, {"attr": {"class": "btn btn-primary"}}) }}
                        <a href="{{path("admin_viewcreations")}}" class="btn btn-success">Retour</a>
                        <br>
                        <br>
                    </div>
                {{form_end(form)}}


                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script>
        function afficherImage(){
            var docImage = document.getElementById("creation_media");
            var index = docImage.selectedIndex;
            var value =  docImage.options[index].value;
            var content = docImage.options[index].text;
            var lien = "/uploads/medias/"+content;

             document.getElementById("monImage").src=lien;
        }
    </script>
{% endblock %}
