{% extends '::admin.html.twig' %}

{% block title %}
	Panel d'administration
{% endblock %}
{% block subtitle %}
	Dashboard
{% endblock %}
{% block body %}

	<h2>Création</h2>
	<table class="table table-hover table-stripped">
		<thead>
			<tr>
				<th>id</th>
				<th>Nom</th>
				<th>Contenu</th>
				<th>Date de création</th>
				<th>Date de modification</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{creation.id}}</td>
				<td>{{creation.name}}</td>
				<td>{{creation.content}}</td>
				<td>{{creation.createdAt|date('d-m-Y H:i')}}</td>
				<td>{{creation.updatedAt|date('d-m-Y H:i')}}</td>
				
			</tr>
		</tbody>
	</table>

	
	<img src="{{asset('uploads/medias/'~creation.media.name) }}" width="500" height="250" />


	<h2>Commentaires</h2>
	<table class="table table-hover table-stripped">
		<thead>
			<tr>
				<th>id</th>
				<th>Contenu</th>
				<th>Date du commentaire</th>
				<th>Modifié le</th>
				<th>Auteur</th>
				<th>action</th>
			</tr>
		</thead>
		<tbody>
			{% for comment in comments %}
			    <tr>
			    	<td class="commentid">{{comment.id}}</td>
			    	<td>{{comment.content}}</td>
			    	<td>{{comment.createdAt|date('d-m-Y H:i')}}</td>
			    	<td>{{comment.updatedAt|date('d-m-Y H:i')}}</td>
			    	<td>{{comment.user.username}}</td>
			    	<td>
			    		{% if comment.display %}
			    			<a href="{{path("admin_deletecomment", {"id": comment.id})}}" class="btn btn-danger">Display off</a>
						{% else %}
			    		<a href="{{path("admin_deletecomment", {"id": comment.id})}}" class="btn btn-primary">Display on</a>
			    		{% endif %}

			    	</td>
			    	
			    </tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{path("admin_viewcreations")}}" class="btn btn-success">Retour</a>


	<div class="navigation">
    	{{ knp_pagination_render(comments) }}
	</div>

{% endblock %}
{% block javascripts %}
	<script>

    	$("body").on("click", ".delete", function(){
    		event.stopPropagation();
    		var path = $(this).attr("href");
    		var id = $(this).parent().parent().find('.commentid').text();
    		
    		Routing.generate("admin_deletecomment", {id: id});

			swal({
			  title: "Are you sure?",
			  text: "You will delete this comment!",
			  type: "warning",
			  showCancelButton: true,
			  confirmButtonColor: "#DD6B55",
			  confirmButtonText: "Yes, delete it!",
			  cancelButtonText: "No, cancel plx!",
			  closeOnConfirm: false,
			  closeOnCancel: false
			},
			function(isConfirm){
			  if (isConfirm) {
			  	$.ajax({
			  		type: 'GET',
			  		url: path,
			  		data: {id: id},
			  		success: function(data) {
						swal("Deleted!", "The comment has been deleted.", "success");
						window.location.reload();
			  		}
			  	});
			  } else {
			    swal("Cancelled", "The comment is safe :)", "error");
			  }
			});
			return false;
		});


    </script>
{% endblock %}
