<ul class="nav nav-pills nav-stacked side-navigation">
    <li>
        <h3 class="navigation-title">Navigation</h3>
    </li>
    <li>
        <a href="{{path("homepage")}}">
            <i class="fa fa-angle-left"></i> 
            <span>Retourner au site</span>
        </a>
    </li>
    <li class="{% if 'dashboard' in app.request.attributes.get('_route') %} active{% endif %}">
        <a href="{{path("admin_dashboard")}}">
            <i class="fa fa-tachometer"></i> 
            <span>Tableau de bord</span>
        </a>
    </li>
    <li class="menu-list{% if 'categories' in app.request.attributes.get('_route') %} active{% endif %}">
        <a href="">
            <i class="fa fa-list-ol" aria-hidden="true"></i>   
            <span>Catégories</span>
        </a>
        <ul class="child-list">
            <li>
                <a href="{{path("admin_viewcategories")}}">
                <i class="fa fa-cog" aria-hidden="true"></i>  

                    Gérer
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-list{% if 'creations' in app.request.attributes.get('_route') %} active{% endif %}">
        <a href="">
            <i class="fa fa-heart-o"></i>  
            <span>Créations</span>
        </a>
        <ul class="child-list">
            <li>
                <a href="{{path("admin_viewcreations")}}">
                <i class="fa fa-cog" aria-hidden="true"></i>  

                    Gérer
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-list{% if 'medias' in app.request.attributes.get('_route') %} active{% endif %}">
        <a href="">
            <i class="fa fa-picture-o"></i>  
            <span>Photos</span>
        </a>
        <ul class="child-list">
            <li>
                <a href="{{path("admin_viewmedias")}}">
                <i class="fa fa-cog" aria-hidden="true"></i>  

                    Gérer
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-list{% if 'users' in app.request.attributes.get('_route') %} active{% endif %}">
        <a href="">
            <i class="fa fa-users" aria-hidden="true"></i>   
            <span>Utilisateurs</span>
        </a>
        <ul class="child-list">
            <li>
                <a href="{{path("admin_viewusers")}}">
                <i class="fa fa-cog" aria-hidden="true"></i>  

                    Gérer
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-list{% if 'comments' in app.request.attributes.get('_route') %} active{% endif %}">
        <a href="">
            <i class="fa fa-commenting-o" aria-hidden="true"></i>   
            <span>Commentaires</span>
        </a>
        <ul class="child-list">
            <li>
                <a href="{{path("admin_viewcomments")}}">
                <i class="fa fa-cog" aria-hidden="true"></i>  
                    Gérer
                </a>
            </li>
        </ul>
    </li>
</ul>