{% extends '::admin.html.twig' %}

{% block title %}
    Panel d'administration
{% endblock %}

{% block subtitle %}
    Dashboard
{% endblock %}

{% block body %}
<h1>Catégories</h1>
	<table class="table table-hover table-stripped">
		<thead>
			<tr>
				<th>id</th>
				<th>Nom</th>			
				<th>Affichage ok = 1</th>
			</tr>
		</thead>
		<tbody>
			{% for category in pagination %}
			    <tr>
			    	<td>{{category.id}}</td>
			    	<td>{{category.name}}</td>
			    	<td>{{category.display|raw}}</td>
			    	<td>
			    		<a href="{{path("admin_viewcategory", {"id": category.id})}}" class="btn btn-info">Visualiser</a>
			    		<a href="{{path("admin_editcategory", {"id": category.id})}}" class="btn btn-warning">Modifier</a>
			    		{% if category.display %}
			    			<a href="{{path("admin_displaycategory", {"id": category.id})}}" class="btn btn-primary">Display off</a>
							{% else %}
			    				<a href="{{path("admin_displaycategory", {"id": category.id})}}" class="btn btn-danger">Display on</a>
			    		{% endif %}
			    		<a href="{{path("admin_deletecategory", {"id": category.id})}}" class="btn btn-warning delete">Supprimer</a>
			    	</td>
			    </tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="navigation">
    	{{ knp_pagination_render(pagination) }}
	</div>

	<div class="action">
		<a href="{{path("admin_addcategory")}}" class="btn btn-success">Ajouter</a>
	</div>

{% endblock %}

{% block javascripts %}
    <script>
    	$("body").on("click", ".delete", function(){
    		event.stopPropagation();
    		var path = $(this).attr("href");
    		var id = $(this).parent().parent().find('.categoryid').text();
    		
    		Routing.generate("admin_displaycategory", {id: id});

			swal({
			  title: "Are you sure?",
			  text: "You will delete this category!",
			  type: "warning",
			  showCancelButton: true,
			  confirmButtonColor: "#DD6B55",
			  confirmButtonText: "Yes, delete it!",
			  cancelButtonText: "No, cancel plx!",
			  closeOnConfirm: false,
			  closeOnCancel: false
			},
			function(isConfirm){
			  if (isConfirm) {
			  	$.ajax({
			  		type: 'GET',
			  		url: path,
			  		data: {id: id},
			  		success: function(data) {
						swal("Deleted!", "The category has been deleted.", "success");
						window.location.reload();
			  		}
			  	});
			  } else {
			    swal("Cancelled", "The category is safe :)", "error");
			  }
			});
			return false;
		});

    </script>
{% endblock %}
