{% extends '::admin.html.twig' %}

{% block title %}
    Panel d'administration
{% endblock %}

{% block subtitle %}
    Dashboard
{% endblock %}

{% block body %}
	<section class="panel">
	    <header class="panel-heading">
	        Ajout de catégorie
	    </header>
	    <div class="panel-body">
	        <div>
	        	 <h1>Formulaire de création de catégorie</h1>
		    	{{form_start(form)}}
		    	<div class="row">
		    		<div class="col-md-12">
						{{ form_label(form.name, "Nom")}}
						{{ form_widget(form.name, {"attr": {"class": "form-control"}}) }}
						{{ form_errors(form.name) }}
		    		</div>
					<div class="col-md-6">
						<br>
						{{ form_widget(form.valid, {"attr": {"class": "btn btn-primary"}}) }}
					</div>
				{{form_end(form)}}
				</div>
	        </div>
	    </div>
	</section>
   
{% endblock %}

{% block javascripts %}
    
{% endblock %}