{% extends '::admin.html.twig' %}

{% block title %}
	Panel d'administration
{% endblock %}
{% block subtitle %}
	Dashboard
{% endblock %}
{% block body %}
<h1>Aperçu de la catégorie</h1>
	<table class="table table-hover table-strippped">
		<thead>
			<tr>
				<th>id</th>
				<th>Nom</th>
				<th>Affiché : 1</th>				
				<th>Date de création</th>
				<th>Date de mise à jour</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{category.id}}</td>
				<td>{{category.name}}</td>
				<td>{{category.display}}</td>
				<td>{{category.createdAt|date('d-m-Y H:i')}}</td>
				<td>{{category.updatedAt|date('d-m-Y H:i')}}</td>
			</tr>
		</tbody>
	</table>
{% endblock %}
