{% extends '::admin.html.twig' %}


{% block title %}
    Panel d'administration
{% endblock %}

{% block subtitle %}
    Dashboard
{% endblock %}

{% block body %}
<h1>Utilisateurs</h1>
	<table class="table table-hover table-stripped">
		<thead>
			<tr>
				<th>id</th>
				<th>Pseudo</th>
				<th>Prénom</th>
				<th>Nom</th>
				<th>Email</th>
				<th>Statut ok : 1<th>
			</tr>
		</thead>
		<tbody>
			{% for user in pagination %}
			    <tr>
			    	<td class="userid">{{user.id}}</td>
			    	<td>{{user.username}}</td>
			    	<td>{{user.firstName}}</td>
			    	<td>{{user.lastName}}</td>
			    	<td>{{user.email}}</td>
			    	<td>{{user.display}}</td>	
			    	<td>
			    		{% if user.enabled %}
			    			<a href="{{path("admin_banuser", {"id": user.id})}}" class="btn btn-danger">Bannir</a>
							{% else %}
			    				<a href="{{path("admin_banuser", {"id": user.id})}}" class="btn btn-primary">Réactiver</a>
			    		{% endif %}
			    		<a href="{{path("admin_deleteuser", {"id": user.id})}}" class="btn btn-warning">Supprimer</a>
			    	</td>
			    </tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="navigation">
    	{{ knp_pagination_render(pagination) }}
	</div>


{% endblock %}

{% block javascripts %}
    <script>

    	$("body").on("click", ".delete", function(){
    		event.stopPropagation();
    		var path = $(this).attr("href");
    		var id = $(this).parent().parent().find('.userid').text();
    		
    		Routing.generate("admin_deleteuser", {id: id});

			swal({
			  title: "Are you sure?",
			  text: "You will ban this user!",
			  type: "warning",
			  showCancelButton: true,
			  confirmButtonColor: "#DD6B55",
			  confirmButtonText: "Yes, ban him!",
			  cancelButtonText: "No, cancel plx!",
			  closeOnConfirm: false,
			  closeOnCancel: false
			},
			function(isConfirm){
			  if (isConfirm) {
			  	$.ajax({
			  		type: 'GET',
			  		url: path,
			  		data: {id: id},
			  		success: function(data) {
						swal("Deleted!", "The user has been banned.", "success");
						window.location.reload();
			  		}
			  	});
			  } else {
			    swal("Cancelled", "The user is safe :)", "error");
			  }
			});
			return false;
		});


    </script>
{% endblock %}
