{% extends '::admin.html.twig' %}


{% block title %}
	Panel d'administration    
{% endblock %}

{% block subtitle %}
	Dashboard   
{% endblock %}


{% block body %}
	
		
{% endblock %}


{% block javascript %}
    
{% endblock %}
