{% set route = app.request.attributes.get("_route") %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Himiko{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Andika|Gruppo|Happy+Monkey" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="/node_modules/owl.carousel/dist/assets/owl.carousel.min.css" />

    </head>

    <body class="{{ route }}">

        {% include 'header.html.twig' %}
        <div class="container">
            {% for type, flash_messages in app.session.flashBag.all %}
                {% for flash_message in flash_messages %}
                    <div class="alert alert-{{ type }}">
                        {{ flash_message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        {% block body %}


        {% endblock %}

        {% include 'footer.html.twig' %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script>
            jQuery(document).ready(function($) {

                $("li.login a").click(function(){
                $("li.login #login").toggleClass("active");
                return false;
                });

                $("li.search a").click(function(){
                $("li.search #search").toggleClass("active");
                return false;
                });
            });
        </script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
