
<footer id="footer">
	<section class="footer">
		<div class="container">

            <div class="copyright">
                <a href="{{ path("homepage") }}"><h1>Himiko 2017 ©</h1></a>
            </div>


						<div class="clear"></div>

            <div class="">
                <div class="navigation pull-right">
                    <ul>
                        <li><a href="" title="">Qui suis-je ?</a></li>
                        <li><a href="{{ path("contact") }}" title="">Contact</a></li>
                        <li><a href="">Mentions légales</a></li>
                    </ul>
                </div>
            </div>

        </div>
	</section>
</footer>
