<header id="header">
    <div class="container">
        {% include 'nav.html.twig' %}

        <div class="title">

            <a href="{{ path("homepage") }}"><h1 class="text-center">Himiko</h1></a>

        </div>

    </div>
</header>
