

<nav class="navigation pull-right">
    <ul>

        {% if app.user is not null %}

            {% if is_granted("ROLE_ADMIN") %}
                <li> <a href="{{ path("admin_dashboard") }}"> Mon compte </a>
            {% else %}
                <li> <a href="{{ path("user_dashboard") }}"> Mon compte </a>
            {% endif %}

            <li><a href="{{ path("fos_user_security_logout") }}">Se déconnecter</a></li>
              <i class="fa fa-power-off" aria-hidden="true"></i>
            {% else %}
                <li class="register"><a href="{{ path("fos_user_registration_register") }}">S'inscrire</a></li>
                <li class="login"><a href="">Connexion</a>
                    <div id="login">
                        <form action="{{ path("fos_user_security_check") }}" method="post">

                        <input type="hidden" name="_csrf_token" value="{{ login_csrfToken }}" />

                            <label for="username">Pseudo</label>
                            <input type="text" id="username" name="_username" class="form-control" required="required" />

                            <label for="password">Mot de passe</label>
                            <input type="password" id="password" name="_password" class="form-control" required="required" />

                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            <label for="remember_me">Mémoriser</label>

                        <div class="col-md-12">
                            <button type="submit" class="btn btn-info" id="_submit" name="_submit">
                                Se connecter
                            </button>
                        </div>

                        <br>
                        </form>
                    </div>
                </li>

        {% endif %}

    </ul>
</nav>
