{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <span>Création réussie</span>


    <div class="success">
    	<a href="{{ path("fos_user_security_login") }}">Connectez-vous !</a>
    </div>
    
{% endblock %}