{% trans_default_domain 'FOSUserBundle' %}
<div class="container">

		<div class="title-register">
			<h1 class="text-center">Formulaire d'enregistrement</h1>
		</div>

        <div class="clear"></div><br>


	{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
		<div class="col-md-12">
			{{ form_label(form.username, "Votre nom d'utilisateur") }}
	    	{{ form_widget(form.username, {attr: {class: "form-control"}}) }}
	    	{{ form_errors(form.username) }}
	    </div>
	    <div class="clear"></div><br>
	    <div class="col-md-6">
	    	{{ form_label(form.plainPassword.first, "Votre mot de passe") }}
		    {{ form_widget(form.plainPassword.first, {attr: {class: "form-control"}}) }}
		    {{ form_errors(form.plainPassword.first) }}
		</div>
		<div class="col-md-6">
	    	{{ form_label(form.plainPassword.second, "Votre mot de passe de confirmation") }}
		    {{ form_widget(form.plainPassword.second, {attr: {class: "form-control"}}) }}
		    {{ form_errors(form.plainPassword.second) }}
		</div>
		<div class="clear"></div><br>
		<div class="col-md-6">
	    	{{ form_label(form.firstName, "Votre prénom") }}
		    {{ form_widget(form.firstName, {attr: {class: "form-control"}}) }}
		    {{ form_errors(form.firstName) }}
		</div>
		<div class="col-md-6">
	    	{{ form_label(form.lastName, "Votre nom") }}
		    {{ form_widget(form.lastName, {attr: {class: "form-control"}}) }}
		    {{ form_errors(form.lastName) }}
		</div>
		<div class="clear"></div><br>
		<div class="col-md-6">
			{{ form_label(form.email, "Votre adresse e-mail") }}
	    	{{ form_widget(form.email, {attr: {class: "form-control"}}) }}
	    	{{ form_errors(form.email) }}			
	    </div>
	    <div class="col-md-12">			
	    	<button type="submit" class="btn btn-info pull-right" value="{{ 'registration.submit'|trans }}">
	    		S'inscrire
	    	</button>
		</div>

	    <div class="clear"></div><br>
	    
		<div class="col-md-6 recaptcha">
			{% form_theme form 'EWZRecaptchaBundle:Form:ewz_recaptcha_widget.html.twig' %}

			{{ form_widget(form.recaptcha, { 'attr': {
			    'options' : {
			        'theme': 'light',
			        'type': 'image',
			        'size': 'normal'
			    },
			} }) }}
		</div>
		
	    
	{{ form_end(form) }}
</div>

