@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Andika|Gruppo|Happy+Monkey:300, 400, 600, 700');
@import "node_modules/compass-mixins/lib/compass";

@import "bootstrap.scss";

$violet: #b300b3;
$grey: #B1AEA8;
$black: #2A2B2A;
$white: #F8F4E3;
$purple: #8B09A5;

$red02:#a53838;
$red01: #e80d0d;
$red: #A50909;
$red1: #8e0808;
$red2: #560404;

$red1: #A50909;


$pink: #FFBACB;
$green: #A50909;

@import "homepage/style.scss";
@import "formulaire/style.scss";
@import "header/style.scss";
@import "footer/style.scss";
@import "login/style.scss";
@import "registration/style.scss";
@import "creation/style.scss";
@import "navigation/style.scss";




div.clear {
		clear: both
}


body {
	font-family: 'Open Sans', sans-serif;
}


input.button {
	&.focus {
		outline: none;
	}
}


.navigation {

		margin-top: 5px;
		margin-bottom: 20px;

	.pagination {

		float: right;
		color: $red;
		font-family: 'Gruppo', verdana, sans-serif;
		@include adjust-font-size-to(20px);
		margin-bottom: 20px;
		margin-top: 10px;


		a {
			color: $red;
			font-family: 'Gruppo', verdana, sans-serif;
			@include adjust-font-size-to(20px);
			margin-right: 5px;
		}
	}
}



ul {
	li{
		&.search {
			position: relative;
			div#search {
				@include adjust-font-size-to(16px);
				position: absolute;
				z-index: 999;
				display: none;
				top: 70px;
				left: 0px;
				&.active {
					display: block;

				}
				input[type=text] {
					padding: 25px;
					width: 300px;
				}
			}
		}
	}
}
