body.homepage {

	#main {

		 .carousel {
				.carousel-inner {
					h3 {
						color: $red;
					}
				}
			}



			.aside {
					h1 {
						font-family: 'Gruppo', verdana, sans-serif;
						color: $black;
						@include adjust-font-size-to(30px);
						text-align: center;
						margin-top: 50px;
						margin-bottom: 50px;
					}

					.row {
							margin-right: 180px;
		    			margin-left: 180px;
							margin-bottom: 50px;

							article{
							.info {
								margin-bottom: 15px;
									h3 {
										text-align: center;
										width: 110px;
										height: 110px;
										font-family: 'Gruppo', verdana, sans-serif;
				            @include adjust-font-size-to(20px);
				            display: block;
				            background: $black;
				            border-radius: 50%;
				            display: table-cell;
				            vertical-align: middle;


				            &:hover {
				              border: 2px;
				              background: $red;
				              text-decoration: none;
				              color: $white;
				              font-weight: bold;
										}

										a {
											color: $white;
											text-decoration: none;
										}
									}
								}
							}
						}
					}

				.technics {
				padding-top: 10px;

					.container {
						width: 100%;

						h1 {

							background-color: $grey;
							padding: 20px;
							text-align: center;
							font-family: 'Gruppo', verdana, sans-serif;
							@include adjust-font-size-to(40px);
							font-weight: bold;
						}

						.info {

							h3 {
								position: relative;

							}


							img {
								display: block;
								position: absolute;
								width: 50%;
								max-width: 100%;
								height: auto;
								::after {
									margin-bottom: 50px;
								}

							}
						}
					}
				}
			}
		}
