{% extends 'base.html.twig' %}


{% block title %}

{% endblock %}

{% block body %}

  <div class="back">
    <a class="glyphicon glyphicon-chevron-left" href="javascript:history.back()"></a>
  </div>

    <div class="container">
      <p><h1>{{ creation.name }}</h1></p>


          <div class="shine colonne">
            <div class="">
              <img src="{{asset('uploads/medias/'~creation.media.name) }}" />
            </div>
          </div>

          <div class="content">
            <div class="">
              <p style="height:125px;">{{ creation.content }}</p>
            </div>
          </div>


		<div class="row">
			<h2 class="text-center">Commentaires</h2>
			<hr>
          {% for creationComment in creationComments %}
              {% include 'AppBundle:Web/Widgets:_creationComment.html.twig' %}
          {% endfor %}


		</div>

	<div class="row">
			{% if app.user is not null %}
				{{form_start(form)}}
  				<div class="row form">
  					<div class="col-md-12">
  						{{form_label(form.content, "Votre commentaire")}}
  						{{form_widget(form.content, {"attr": {"class": "form-control input"}}) }}
  						{{form_errors(form.content)}}
  					</div>
  					<div class="col-md-6">
  						{{form_widget(form.send, {"attr": {"class": "btn btn-primary input"}}) }}
  					</div>
  				</div>
				{{form_end(form)}}

			{% else %}
				<div class="alert alert-danger text-center">
					<a style="color: black;" href="{{path("fos_user_security_login")}}"><strong>Vous devez être connecté pour poster un commentaire</strong></a>
				</div>
			{% endif %}
		</div>
	</div>



    <div class="back">
      <a class="glyphicon glyphicon-chevron-left" href="javascript:history.back()"></a>
    </div>

{% endblock %}
