{% extends 'base.html.twig' %}


{% block title %}

{% endblock %}

{% block body %}

    <div class="navigation">
        {{ knp_pagination_render(creations) }}
    </div>

    <div class="back">
      <a class="glyphicon glyphicon-chevron-left" href="javascript:history.back()"></a>
    </div>

{% for creation in creations %}

    <div class="container">
      <a href="{{path("viewcreation", {"id": creation.id})}}"><p><h1>{{ creation.name }}</h1></p>

      <div class="row">
        <div class="morph colonne">
          <div class="col-md-3">
            <img src="{{asset('uploads/medias/'~creation.media.name) }}" /></a>
          </div>
        </div>
        <div class="content">
          <div class="col-md-9">
            <p style="height:125px;">{{ creation.content }}</p>
          </div>
        </div>
      </div>
    </div>


{% endfor %}

    <div class="back">
      <a class="glyphicon glyphicon-chevron-left" href="javascript:history.back()"></a>
    </div>


    <div class="navigation">
        {{ knp_pagination_render(creations) }}
    </div>

{% endblock %}
