{% extends '::admin.html.twig' %}

{% block title %}
	Panel d'administration
{% endblock %}
{% block subtitle %}
	Dashboard
{% endblock %}
{% block body %}
<h1>Commentaires</h1>
    <table class="table table-hover table-stripped">
		<thead>
			<tr>
				<th>id</th>
				<th>content</th>
				<th>date</th>
				<th>auteur</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for comment in pagination %}
			    <tr>
			    	<td class="commentid">{{comment.id}}</td>
			    	<td>{{comment.content}}</td>
			    	<td>{{comment.createdAt|date('d-m-Y H:i')}}</td>
					<td>{{comment.user.username}}</td>
					<td>
						{% if comment.display %}
							<a href="{{path("admin_deletecomment", {"id": comment.id})}}" class="btn btn-danger delete">Supprimer</a>
							{% else %}
							    <a href="{{path("admin_deletecomment", {"id": comment.id})}}" class="btn btn-primary">Réactiver</a>
						{% endif %}
					</td>
			    </tr>
			{% endfor %}
		</tbody>
    </table>

    <div class="navigation">
    	{{ knp_pagination_render(pagination) }}
	</div>

{% endblock %}
{% block javascripts %}
      <script>

    	$("body").on("click", ".delete", function(){
    		event.stopPropagation();
    		var path = $(this).attr("href");
    		var id = $(this).parent().parent().find('.commentid').text();
    		
    		Routing.generate("admin_deletecomment", {id: id});

			swal({
			  title: "Are you sure?",
			  text: "You will delete this comment!",
			  type: "warning",
			  showCancelButton: true,
			  confirmButtonColor: "#DD6B55",
			  confirmButtonText: "Yes, delete it!",
			  cancelButtonText: "No, cancel plx!",
			  closeOnConfirm: false,
			  closeOnCancel: false
			},
			function(isConfirm){
			  if (isConfirm) {
			  	$.ajax({
			  		type: 'GET',
			  		url: path,
			  		data: {id: id},
			  		success: function(data) {
						swal("Deleted!", "The comment has been deleted.", "success");
						window.location.reload();
			  		}
			  	});
			  } else {
			    swal("Cancelled", "The comment is safe :)", "error");
			  }
			});
			return false;
		});


    </script>
{% endblock %}
