<div class="comment alert">
	<div class="comment-header">
		<div class="comment-author">
			{{ creationComment.user.username }}
			<span> a écrit : </span>
		</div>
		<div class="comment-meta">
			<span>le {{ creationComment.createdAt |date('d-m-Y à H:i') }}</span></span>
		</div>
		<div class="comment-body">
			<p>
				{{creationComment.content}}
			</p>
		</div>
	</div>
</div>
