{% trans_default_domain 'FOSUserBundle' %}

<div class="container">

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}

        <div class="col-md-6">
            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" required="required" />
        </div>

        <div class="col-md-6">
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input type="password" id="password" name="_password" class="form-control" required="required" />
        </div>
       
        <div class="col-md-6">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}
        </div>

        <div class="col-md-12">         
            <button type="submit" class="btn btn-info pull-right" value="{{ 'registration.submit'|trans }}">
                Se connecter
            </button>
        </div>

        <br>
    </form>

</div>
