body.viewcreations {

		.pagination {

			display: block;
			margin-right: 80px;					

		}

		.back	 {

			margin-left: 30px;
			margin-bottom: 20px;
			margin-top: 20px;
			text-decoration: none;
			font-family: 'Gruppo', verdana, sans-serif;
			@include adjust-font-size-to(30px);

				a {
					color: #A50909;
					text-decoration: none;
				}

		}

	.container {


		h1 {
			font-family: 'Gruppo', verdana, sans-serif;
			@include adjust-font-size-to(30px);
			color: $red;
			font-weight: bold;
			text-decoration: none;

		}

		img {
			float: left;
			margin-right: 15px;
		}

		a {
			text-decoration: none;
		}



		.content {
			font-family: 'Gruppo', verdana, sans-serif;
			@include adjust-font-size-to(20px);
			color: $black;
			text-align: justify;

		}

		/* Morph */
		.morph div img {
		  width: 200px;
		  height: 112px;
		  -webkit-filter: grayscale(0) blur(0px);
		  filter: grayscale(0) blur(0px);
		  -webkit-transition: all 0.5s ease;
		  transition: all 0.5s ease;
		}

		.morph div:hover img {
		  width: 150px; /* on affiche l'image au carré */
		  height: 90px;
		  border-radius: 50%;  /* on arrondit l'image */
		  -webkit-transform: rotate(360deg); /* rotation de l'image */
		  transform: rotate(360deg);
		}
	}
}

body.viewcreation {


	.back {

		margin-left: 30px;
		margin-top: 20px;
		text-decoration: none;
		font-family: 'Gruppo', verdana, sans-serif;
		@include adjust-font-size-to(30px);

			a {
				color: #A50909;
				text-decoration: none;
			}
		}

		h1 {
			font-family: 'Gruppo', verdana, sans-serif;
			color: $red;
			@include adjust-font-size-to(80px);
			text-align: center;
		}


		img {

			width: 80%;
			max-width: 100%;
			height: auto;
			display: block;
			margin-left:auto;
			margin-right:auto;
			margin-bottom: 20px;
			text-align: center;

		}

		.content p {
			height: 500px;
			text-align: justify;
		}

		/* Reflet */
		.shine div {
			position: relative;
		}
		.shine div::before {
			position: absolute;
			top: 0;
			left: -75%;
			z-index: 2;
			display: block;
			content: '';
			width: 50%;
			height: 100%;
			background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
			background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
			-webkit-transform: skewX(-25deg);
			transform: skewX(-25deg);
		}
		.shine div:hover::before {
			-webkit-animation: shine .75s;
			animation: shine .75s;
		}
		@-webkit-keyframes shine {
			100% {
				left: 125%;
			}
		}
		@keyframes shine {
			100% {
				left: 125%;
			}
		}

		.row {
			h2 {
				font-family: 'Gruppo', verdana, sans-serif;
				@include adjust-font-size-to(40px);
				color: $grey;
				font-weight: bold;

			}
		}
	}
