{% extends 'base.html.twig' %}


{% block title %}Himiko{% endblock %}

{% block body %}

<main id="main">

  <section id="carousel">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox" style="height: 300px">
        <div class="item active">

          <div class="picture" style="background-image: url('{{asset('uploads/carousel/kumihimo0062.jpg') | imagine_filter('carousel')}}'); background-size: cover; width: 100%; height: 300px;">
          </div>
          <div class="carousel-caption">
            <h3></h3>
            <p></p>
          </div>
        </div>

        <div class="item">
          <div class="picture" style="background-image: url('{{asset('uploads/carousel/kumihimo0262.jpg') | imagine_filter('carousel')}}'); background-size: cover; width: 100%; height: 300px;">
          </div>
          <div class="carousel-caption">
            <h3></h3>
            <p></p>
          </div>
        </div>

        <div class="item">
          <div class="picture" style="background-image: url('{{asset('uploads/carousel/kumihimo0352.jpg') | imagine_filter('carousel')}}'); background-size: cover; width: 100%; height: 300px;">
          </div>
          <div class="carousel-caption">
            <h3></h3>
            <p></p>
          </div>
        </div>

        <div class="item">
          <div class="picture" style="background-image: url('{{asset('uploads/carousel/kumihimo0382.jpg') | imagine_filter('carousel') }}'); background-size: cover; width: 100%; height: 300px;">
          </div>
          <div class="carousel-caption">
            <h3></h3>
            <p></p>
          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </section>

  <section class="aside">
    <div class="container">
      <h1>Entrez dans un univers de créations...</h1>
      <div class="clear"></div>
      <div class="row">


          <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="info">
              <div class="">

              <h3><a href="{{path("viewcreations", {"id": "1"})}}">Kumihimo</a></h3>
              </div>
            </div>
          </article>

          <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="info">
              <div class="">
              <h3><a href="">Pâte de Métal</a></h3>
              </div>
            </div>
          </article>

          <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="info">
              <div class="">
              <h3><a href="">Cuir</a></h3>
              </div>
            </div>
          </article>

          <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="info">
              <div class="">
              <h3><a href="">Viking Knit</a></h3>
              </div>
            </div>
          </article>

      </div>
    </div>
  </div>
</section>



  <section class="technics">
    <div class="container">
      <h1>Les Techniques</h1>
      <div class="clear"></div>
        <div class="row">

          <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="info">
              <div class="">


                <a href="homepage"><img src="uploads/others/mobidai.jpg" alt="Mobidai"><h3>Kumihimo</h3></a>

              </div>
            </div>
          </article>

          <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="info">
              <div class="">
                <a href="homepage"><img src="uploads/others/mobidai.jpg" alt="Mobidai"><h3>Pâte de Métal</h3></a>
              </div>
            </div>
          </article>

          <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="info">
              <div class="">
              <a href="homepage"><img src="uploads/others/mobidai.jpg" alt="Mobidai"><h3>Cuir</h3></a>
              </div>
            </div>
          </article>

          <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="info">
              <div class="">
              <a href="homepage"><img src="uploads/others/mobidai.jpg" alt="Mobidai"><h3>Viking Knit</h3></a>
              </div>
            </div>
          </article>

      </div>
    </div>
  </div>
</section>

<div class="clear"></div>


</main>

{% endblock %}


{% block javascripts %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/node_modules/owl.carousel/dist/owl.carousel.min.js"></script>

<script>
jQuery(document).ready(function($){
  'use strict';	jQuery('#ig-slide-post').owlCarousel({
    autoPlay: 3000, //Set AutoPlay to 3 seconds
    itemsCustom : [
      [0, 1],
      [450, 2],
      [600, 2],
      [700, 2],
      [1000, 4]
    ],
    lazyLoad : true,
    pagination : false,
    navigationText:	["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"],		navigation : true	});});
    </script>

  {% endblock %}
