nav {
	&.navigation {

		ul {

			li {
				&.login {
					position: relative;

					div#login {
						background: $black;
						padding: 30px;
						@include adjust-font-size-to(16px);
						position: absolute;
						z-index: 999;
						display: none;
						left: -40px;
						top: 50px;
						&.active {
							display: block;
						}
					}
				}
			}
		}
	}
}


body:not(.homepage) {
  nav {
    &.navigation {

      ul {

        li {

          float: right;
          list-style-type: none;
          margin: 15px;
          margin-right: 0px;

          a {
            font-family: 'Gruppo', verdana, sans-serif;
            @include adjust-font-size-to(22px);
						font-size: 1.25em;
    				line-height: 1.2em;
            width: 115px;
            height: 115px;
            display: block;
            color: $black;
            background: $red;
            border-radius: 50%;
            text-align:center;
            display: table-cell;
            vertical-align: middle;
						font-weight: bold;
            &:hover {
              border: 2px;
              background: $white;
              text-decoration: none;
              color: $black;

            }
          }
        }
      }
    }
  }
}


body.homepage {

	header {

    nav {
      &.navigation {

        margin-top: 50px;

        ul {

          li {

            float: right;
            margin-right: 25px;
            list-style-type: none;
            &:first-child {
              margin-right: 0px;
            }

            a {
							font-family: 'Gruppo', verdana, sans-serif;
	            @include adjust-font-size-to(20px);
							width: 115px;
							height: 115px;
							border-radius: 50%;
							text-align:center;
							display: table-cell;
							vertical-align: middle;
							font-weight: bold;
							border: 2px;
							background: $black;
							text-decoration: none;
							color: $black;
							color: $white;
              text-decoration: none;
							&:hover {
	              border: 2px;
	              background: $white;
	              text-decoration: none;
	              color: $black;
	             }
            }

            &.title {
              display: none;
            }
          }
        }
      }
    }
  }
}
