body:not(.homepage) {

	header {

		height: 150px;
		width: 100%;
		background-color: $black;

		div.title {

			h1 {
				float: left;
				font-family: 'Andika', verdana, sans-serif;
				color: $red;
				margin-left: 12px;
				@include adjust-font-size-to(46px);
				font-weight: 400;
				vertical-align: middle;
				float: left;
				&:hover {
					color: $white;

					header {
						height: 20px;
						background-color: $red;
					}
				}
			}
		}
	}
}

body.homepage {

	header {
	height: 200px;
	width: 100%;
	background-color: $black;

		div.title {
			margin-top: 25px;

				a {
					text-decoration: none;

					h1 {
						font-family: 'Andika', verdana, sans-serif;
						color: $red;
						@include adjust-font-size-to(100px);
						font-weight: 400;
						margin-top: 10px;
						color: $red;
						float: left;

						&::first-letter {

							margin-bottom: 50px;
							width: 100px;
							height: 100px;
							text-align: center;
							display: table-cell;
							vertical-align: middle;
							border-radius: 50%;
							color: $white;
							background-color: $red;
							padding: 0 43px 0 43px;


						}
					}
				}
			}
		}
	}
