footer {

	background-color: $black;
	padding: 20px;
	margin-top: 50px;


	section.footer {

		div.container {

			div.copyright {

				h1 {
					margin-top: 0px;
					margin-bottom: 5px;
					display: block;
					text-align: center;
					color: $red;
					font-family: 'Andika', cursive;
					text-decoration: none;
					@include adjust-font-size-to(30px);
					&:hover {
						color: $white;
					}

				}

			}

			div.navigation {

				text-align: center;


				ul {

					li {

						float: left;
						margin-right: 25px;
						list-style-type: none;
						&:last-child {
							margin-right: 0px;
						}

						a {
							color: $white;
							vertical-align: middle;
							text-decoration: none;
							&:hover {
								color: $red;
							}
						}
					}
				}
			}
		}
	}
}
