body.fos_user_registration_register {

	div.container {

		.title-register {

			h1 {
			margin-top: 75px;
			margin-bottom: 75px;
			font-family: 'Happy Monkey', cursive;
			color: $red;
			}
		}

		button.btn.btn-info {

			background-color: $red;
			border-color: $red;

			&:hover {
				background-color: $black;
				border-color: $black;
			}

			form {

				float: right;

			}
		}
	}

	nav {
		&.navigation {
			ul {

				li.register {
					a {
						display: none !important;
					}
				}
			}
		}
	}
}
